.currentFocusMainContainer {
    margin-bottom: 30px;
}

.currentFocuses {
    display: flex;
    flex-direction: column;
}

.currentFocusContainer {
    margin-bottom: 50px;
}

.header {
    margin-bottom: 35px;
    font-size: 1.5rem;
}

.image {
    border-radius: 10px;
    height: 200px;
    background-color: #484848;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.headerFocus {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.metaContainer {
    color: rgb(172, 172, 172);
}

.role {
    margin-right: 30px;
}

.text {
    font-size: 1.15rem;
    line-height: 30px;
}

.readMoreLink {
    margin-bottom: 15px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 25px;
    margin: 3px 0 0 15px;
}

.timeslot {
    font-size: 0.9rem;
}

@media only screen and (min-width: 1000px) {
    .header {
        margin-bottom: 35px;
        font-size: 2rem;
    }

    .currentFocuses {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .currentFocusContainer {
        width: 48.5%;
        margin-bottom: 50px;
    }

    .image {
        height: 220px;
    }

    .headerFocus {
        font-size: 1.5rem;
        margin-bottom: 8px;    
    }

    .metaContainer {
        font-size: 1.1rem;
    }

    .readMoreLink {
        font-size: 1.15rem;
    }

    .text {
        margin-top: 12px;
        margin-bottom: 20px;
    }

    .link {
        font-size: 1.05rem;
    }
  }