.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcomeText {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.nameText {
    text-align: center;
    margin-bottom: 60px;
}

.contactButton {
    width: 230px;
    margin-bottom: 80px;
    font-size: 1.2rem;
}

.heroLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 340px;
}

.heroIconContainer {
    display: flex;
    flex-direction: column;
    width: 90px;
    transition: 0.15s;
}

.heroIconContainer:hover {
    text-decoration: none;
    color: #3A5FD8;
}

.icon {
    font-size: 1.2rem;
    height: 40px;
}

.iconText {
    text-align: center;
    font-size: 1.1rem;
}

@media only screen and (min-width: 1000px) {
    .welcomeText {
        margin-bottom: 20px;
    }

    .heroLinkContainer {
        width: 430px;
    }
}