.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0;
  margin-bottom: 100px;
  max-width: 1000px;
}

.pageContent {
  display: flex;
  justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footerContainerInner {
  display: flex;
  align-items: center;
}

.footerIcon {
  width: 28px;
  color: #fff;
  margin-right: 25px;
}

.footerText {
  margin-top: 2px;
}