.previousWorkContainer {
    margin-bottom: 50px;

}

.header {
    margin-bottom: 35px;
}

.previousWorkLink:hover {
    text-decoration: none;
}

.previousItemContainer {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #1D1D1D !important;
    box-shadow: 0px 3px 12px #000000af;
}

.previousItemContainerFlipped {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #1D1D1D !important;
    box-shadow: 0px 3px 12px #000000af;
}

.previousItemImage {
    background-color: #484848;
    border-radius: 10px 10px 0 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.previousItemImageFlipped {
    background-color: #484848;
    border-radius: 10px 10px 0 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.previousItemImageMobile {
    height: 180px;
    background-color: #484848;
    border-radius: 10px 10px 0 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.previousItemImageFlippedMobile {
    height: 180px;
    background-color: #484848;
    border-radius: 10px 10px 0 0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.previousItemInformation {
    padding: 0px 20px 20px;

}

.headerItem {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.tags {
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0px 0 4px;
    color: #c9c9c9;
}

.timeslot {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0px;
    color: #c9c9c9;
}

.text {
    display: none;
    margin: 10px 0 20px;
    font-size: 1.15rem;
}

.textMobile {
    margin: 10px 0 20px;
    font-size: 1.15rem;
    line-height: 28px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 25px;
    margin: 3px 0 0 15px;
}

@media only screen and (min-width: 800px) {
    .previousWorkContainer {
        margin-bottom: 110px;
    }

    .previousItemContainer {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .previousItemContainerFlipped {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .previousItemImage {
        width: 45%;
        min-height: 300px;
        height: auto;
        border-radius: 10px 0px 0 10px;
    }

    .previousItemImageFlipped {
        width: 45%;
        min-height: 300px;
        height: auto;
        border-radius: 0 10px 10px 0;
    }

    .previousItemImageMobile {
        display: none;
    }

    .previousItemImageFlippedMobile {
        display: none;
    }

    .headerItem {
        font-size: 1.6rem;
        margin-bottom: 6px;
        margin-top: 25px;
    }

    .tags {
        font-size: 1rem;
        margin-right: 30px;
    }

    .timeslot {
        font-size: 0.95rem;
    }

    .tagAndTimeContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 2px;
    }

    .link {
        font-size: 1rem;
        margin-bottom: 25px;
    }

    .text {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    .textMobile {
        display: none;
        margin: 10px 0 20px;
        font-size: 0.95rem;
    }

    .previousItemInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding: 0px 40px 0px;
    }
}